*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

body {
font-family: 'Roboto Condensed', serif, sans-serif;
	color: #000;
	background: #fff;
    /*background-image: url(http://www.selectcitywalk.com/wp-content/uploads/2017/09/Feature-Image-49.png);*/
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #fff;
}
h2  {
	font-size: 70px;
	font-weight: 200;
	letter-spacing: 0;
	text-align: center;
}
img {
    width: 40px;
    /* background-size: 40px; */
}
.emoji{
  background-image: url("http://icons.iconarchive.com/icons/google/noto-emoji-activities/256/52707-party-popper-icon.png");
  width: 40px;
}
.jumbotron {
  background: #636363;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #a2ab58, #636363);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #a2ab58, #636363); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 0;
}
#profile-img {
    width: 25%;
    margin: auto;
    padding-top: 10px;
}
h3 {
    font-family: 'Roboto Condensed', serif, sans-serif;
    color: #fff;
    word-spacing: 8px;
}
.container.text-center {
    margin: auto;
    width: 100%;
    /* margin-top: 1%; */
    /* padding-top: 15%; */
    position: relative;
    /* padding-bottom: 25%; */
    top: 33.3%;
}
.profile{
display: inline-block;
cursor: pointer;
font-family: 'Dosis', 'Lato', sans-serif;
font-weight: bold;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 0.25rem;
color: #fff;
letter-spacing: 1px;
text-transform: uppercase;
background: #8A2387;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}			

